#myname {
    letter-spacing: 1px;
    font-weight: 300px;
}

#technology {
    width: 500px;
    
}

#id-2 {
    width: 500px;
    
    background-color: black;
    opacity: 0.1;
  
    
}

.color-black {
 color: black;
}

.button:hover {
    text-decoration: none;
}